@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #040404;
  padding: 0;
  margin: 0;
  min-height: 100vh !important;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.banner-padding {
  padding: 13rem 0 13rem 7rem;
}

.border-b-custom {
  border-bottom: 0.2px solid #212121;
}


/* Flip button */
div[class*=box-1] {
  height: 33.33%;
  width: 250px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: none; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}


/* Homepage Card */
.card {
  background: #151515;
  border: .5px solid #343434;
}

.contact-form { width: 60% !important; }
.font { font-family: 'Montserrat', cursive; }

.greykol {
  background: #ffffff0a;
  border: .5px solid #343434;
  outline: none;
  width: 100% !important;
}

.icon-facebook:hover { color: #3B5998; }
.icon-google:hover { color: #fff; }
.icon-github:hover { color: #171515; }
.icon-linkedin:hover { color: #0077b5; }
.icon-twitter:hover { color: #00ACEE; }

.main {
  overflow-y: scroll;
  width: 100vw;
}

.neonText { animation: flicker 5s infinite alternate; }

@keyframes flicker {
  0% { color: #dcfce7; }
  50% { color: #f3e8ff; }
  100% { color: #cffafe; }
}

.pg-custom { font-size: 1rem; }
.text-custom { font-size: 3rem; }
.text-custom-alt { font-size: 1.4rem; font-stretch: expanded; }
.text-10xl { font-size: 15rem;}
.typed-box { height: 50px; }

@media screen and (max-width: 1100px) {
  .title-header { font-size: 6rem }
  .pg-custom { font-size: .9rem; }
  .skill-header { font-size: 5rem; }
  .text-custom { font-size: 3rem; }
  .text-custom-alt { font-size: 1.4rem; }
}

@media screen and (max-width: 800px) {
  .title-header { font-size: 4rem }
}

@media screen and (max-width: 600px) {
  .banner-padding {
    align-items: center;
    padding: 13rem 0;
  }
  .contact-form { width: 80% !important; }
  .navbar { display: none; }
  .pg-custom { font-size: .8rem; }
  .title-header { font-size: 4rem }
  .skill-card-text { font-size: 0.75rem; }
  .skill-header { font-size: 3.5rem; }
  .text-custom { font-size: 2.4rem; }
  .text-custom-alt { font-size: 1.1rem; }
}

@media screen and (max-width: 450px) {
  .title-header { font-size: 2.7rem }
}