@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #040404;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.border-b-custom {
  border-bottom: 0.2px solid #212121;
}

.card {
  background: #151515;
  border: .5px solid #343434;
}

.font-one {
  font-family: 'Itim', cursive;
}

.font-two {
  font-family: 'Rubik', sans-serif;
}

.icon-facebook:hover {
  color: #3B5998;
}

.icon-google:hover {
  color: #fff;
}

.icon-github:hover {
  color: #171515;
}

.icon-linkedin:hover {
  color: #0077b5;
}

.icon-twitter:hover {
  color: #00ACEE;
}


.main-text {
    animation: flicker 1.5s infinite alternate;     
}

@keyframes flicker {
  0% { color: #FEF9C3; }
  50% { color: #D1FAE5; }
  100% { color: #A5F3FC; }
}